@charset "UTF-8";
/*
Theme Name: Zefix
Theme URI: http://ssv-muenchen.de
Description: Template für die StadtschülerInnenvertretung München
Version: 0.9.0
Author: Benedict Lang
Author URI: http://twitter.com/lang_bene
*/
.content {
  padding: 0 1em 0em 1em;
  box-sizing: border-box;
  margin-bottom: 1.25em;
  line-height: 2em;
  width: 65%;
  float: left; }
  .content p {
    font-size: 1.125em; }
  .content strong {
    font-weight: 700; }
  .content img {
    max-width: 90%;
    height: auto; }
  .content iframe {
    max-width: 100%;
    margin: 0 auto; }
  .content blockquote {
    border-left: 5px solid #75bf42;
    margin: 0;
    padding-left: 2em;
    font-style: italic; }
  .content-firstArticle {
    border-bottom: 1px dotted #75bf42;
    margin-bottom: 1.25em; }
  .content-headline {
    color: #75bf42;
    font-size: 4em;
    font-weight: 300;
    line-height: 1.0em;
    margin-bottom: 4rem; }
    @media (max-width: 991px) {
      .content-headline {
        font-size: 2em; } }
  .content-content {
    margin-bottom: 5rem; }
  .content .wp-caption {
    max-width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
    margin: 0 auto; }
  .content .wp-caption-text {
    font-weight: 600;
    font-style: italic;
    font-size: 1em; }
  @media (max-width: 991px) {
    .content {
      width: 100%; } }

.footer {
  background: #75bf42;
  padding: 2em 1em 2em 1em;
  clear: both; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #960428; }
  .footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px; }
  .footer-kjr {
    width: 100%;
    max-width: 300px;
    height: auto; }

.header {
  position: relative;
  height: 200px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.5);
  transition: height 0.5s; }
  .header-inner {
    margin: 0 auto;
    max-width: 1200px; }
  .header-logo {
    height: 150px;
    transition: all 0.5s;
    padding-top: 10px; }
  .header-sticky {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0; }
    .header-sticky .header-logo {
      height: 80px; }
  .header-image {
    width: 100%;
    margin-top: 0px; }
    .header-image--sticky-header {
      margin-top: 100px; }
  .header-navigation {
    float: right;
    padding: 1em 1.5em;
    font-size: 1.25em;
    font-weight: 400; }
    .header-navigation-menu ul {
      display: flex;
      justify-content: flex-end; }
      .header-navigation-menu ul li {
        list-style: none;
        margin-left: 1.25em; }
        .header-navigation-menu ul li a {
          font-weight: 400;
          color: #75bf42;
          font-size: 1.25em; }
          .header-navigation-menu ul li a:hover {
            color: #960428; }
    .header-navigation-burger {
      display: none; }
    .header-navigation a {
      color: #75bf42; }
    .header-navigation .current_page_item, .header-navigation .current-menu-item {
      text-decoration: underline; }

@media (max-width: 1200px) {
  .header {
    height: 150px; }
    .header-sticky {
      height: 100px; }
    .header-logo {
      height: 100px;
      margin-left: 2em; }
    .header-navigation {
      font-size: 1em; } }
@media (max-width: 991px) {
  .header-navigation-menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear; }
    .header-navigation-menu ul {
      display: block;
      position: absolute;
      right: 0;
      z-index: 10000;
      text-align: right;
      padding: 1em 1em 1em 1em;
      background: white;
      margin-right: 1.5em;
      box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, 0.1); }
      .header-navigation-menu ul li {
        padding: 0.5em 0 0.5em 0; }

  .header-navigation-burger {
    transition: fill 0.5s;
    display: block;
    fill: #75bf42; }
    .header-navigation-burger--clicked {
      fill: #960428; } }
.is-visible {
  visibility: visible !important;
  opacity: 1 !important; }

html {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem; }
  body a {
    color: #75bf42;
    font-weight: 400;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline;
      color: #960428; }

.main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px; }
  @media (max-width: 991px) {
    .main {
      width: 100%; } }

.sidebar {
  border-left: 1px dotted #75bf42;
  margin-bottom: 20px;
  width: 30%;
  float: left;
  padding: 1em;
  margin-left: 1em;
  /* Portrait tablets and small desktops */ }
  .sidebar-headline {
    color: #75bf42;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 2rem; }
    @media (max-width: 991px) {
      .sidebar-headline {
        font-size: 1.25em; } }
  .sidebar-item {
    border-bottom: 1px dotted #75bf42;
    padding-bottom: 2em;
    margin-bottom: 2em; }
  @media (max-width: 991px) {
    .sidebar {
      display: none; } }
  .sidebar .textwidget {
    font-size: 1.125em; }

.button {
  display: inline-block;
  padding: 1em;
  margin: 1em 0 1em 0;
  color: #ffffff;
  background: #75bf42;
  box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, 0.1);
  font-size: 1.125em; }
  .button:hover {
    background: #960428;
    color: #fff; }

.teaser {
  width: 45%;
  border: 1px solid #75bf42;
  margin: 10px;
  margin-left: 0px; }
  @media (max-width: 768px) {
    .teaser {
      width: 100%; } }
  .teaser img {
    width: 100%;
    max-width: none;
    height: auto; }
  .teaser-inner {
    padding: 10px; }
  .teaser-headline {
    color: #75bf42;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em; }
  .teaser p, .teaser-text {
    font-size: 1rem;
    line-height: 1.25em; }

/*# sourceMappingURL=style.css.map */
