.button {
  display: inline-block;
  padding: 1em;
  margin: 1em 0 1em 0;
  color: #ffffff;
  background: $color-ssv-green;
  box-shadow: 1px 1px 5px 0px rgba(10, 10, 10, 0.1);
  font-size: $font-size-button;

  &:hover {
    background: $color-ssv-bordeaux;
    color: #fff;
  }
}
