.teaser {
  width: 45%;
  border: 1px solid $color-ssv-green;
  margin: 10px;
  margin-left: 0px;

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    width: 100%;
    max-width: none;
    height: auto;
  }

  &-inner {
    padding: 10px;
  }

  &-headline {
    color: $color-ssv-green;
    font-weight: 600;
    font-size: $font-size-teaser-headline;
    line-height: 1em;
  }

  p, &-text {
    font-size: $font-size-default;
    line-height: 1.25em;
  }
}
