$color-ssv-green: rgba(117, 191, 66, 1.0);
$color-ssv-bordeaux: rgba(150, 4, 40, 1.0);

$color-header-background: #fff;

$color-menu: $color-ssv-green;
$color-menu-hover: $color-ssv-bordeaux;
$color-menu-burger-background: rgba(255,255,255, 1);

$color-footer-link: #fff;
$color-footer-link-hover: $color-ssv-bordeaux;

$color-link: $color-ssv-green;
$color-link-hover: $color-ssv-bordeaux;

$color-button: $color-ssv-green;
$color-button-hover: $color-ssv-bordeaux;

$color-h2: $color-ssv-green;
