$font-source-sans-pro: 'Source Sans Pro', sans-serif;

$font: $font-source-sans-pro;

$font-size-default: 1rem;
$font-size-content: 1.125em;
$font-size-caption: 1em;


$font-size-h2: 4em;
$font-size-h2--mobile: 2em;
$font-size-h3: 2.5em;
$font-size-h3--mobile: 1.25em;
$font-size-menu: 1.25em;
$font-size-menu-smaller: 1em;
$font-size-sidebar-text: 1.125em;
$font-size-button: 1.125em;


$font-weight-h2: 300;
$font-weight-h3: 300;
$font-weight-strong: 700;
$font-weight-link: 400;
$font-weight-menu: 400;

$font-weight-caption: 600;
$font-style-caption: italic;

$font-size-teaser-headline: 1.5em;
