.content {
  padding: 0 1em 0em 1em;
  box-sizing: border-box;
  margin-bottom: 1.25em;
  line-height: 2em;
  width: 65%;
  float: left;

  p {
    font-size: $font-size-content;
  }

  strong {
    font-weight: $font-weight-strong;
  }

  img {
    max-width: 90%;
    height: auto;
  }

  iframe {
    max-width: 100%;
    margin: 0 auto;
  }

  blockquote {
    border-left: 5px solid $color-ssv-green;
    margin: 0;
    padding-left: 2em;
    font-style: italic;
  }

  &-firstArticle {
    border-bottom: 1px dotted $color-ssv-green;
    margin-bottom: 1.25em;
  }

  &-headline {
    color: $color-ssv-green;
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;
    line-height: 1.0em;
    margin-bottom: 4rem;

		@media (max-width: 991px) {
	    font-size: $font-size-h2--mobile;
	  }
  }

  &-content {
    margin-bottom: 5rem;
  }

  .wp-caption {
    max-width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
    margin: 0 auto;
  }

  .wp-caption-text {
    font-weight: $font-weight-caption;
    font-style: $font-style-caption;
    font-size: $font-size-caption;
  }

  @media (max-width: 991px) {
    width: 100%;
  }
}
