.footer {
  background: $color-ssv-green;
  padding: 2em 1em 2em 1em;
  clear: both;

  a {
    color: $color-footer-link;
    &:hover {
      color: $color-footer-link-hover;
    }
  }
  &-inner {
    max-width: $size-inner;
    margin: 0 auto;
    padding: 0px;
  }

  &-kjr {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
