html {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: $font;
  font-size: $font-size-default;

  .container {
  }

  a{
    color: $color-link;
    font-weight: $font-weight-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-link-hover;
    }
  }
}
