.sidebar {
  border-left: 1px dotted $color-ssv-green;
  margin-bottom: 20px;
  width: 30%;
  float: left;
  padding: 1em;
  margin-left: 1em;

  &-headline {
    color: $color-ssv-green;
    font-size: $font-size-h3;
    font-weight: $font-weight-h3;
    margin-bottom: 2rem;
		@media (max-width: 991px) {
			font-size: $font-size-h3--mobile;
		}

  }

  &-item {
    border-bottom: 1px dotted $color-ssv-green;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }

  /* Portrait tablets and small desktops */
  @media (max-width: 991px) {
    display: none;
  }

  .textwidget {
    font-size: $font-size-sidebar-text;
  }
}
